@{
    ViewBag.Title = "Projectify";
}

<div class="jumbotron">
    <h1>Titel</h1>
    <p class="lead">Text</p>
    <p><a href="/users" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Titel2</h2>
        <p>
            Text1
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Button1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Titel2</h2>
        <p>Text2</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Button2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Titel3</h2>
        <p>Text3</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Button3 &raquo;</a></p>
    </div>
</div>