@{
    ViewBag.Title = "Projectify";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Text</p>

    <!--  <p><a href="/projekts" class="btn btn-primary btn-lg">New Project &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Titel2</h2>
        <p>
            Text1
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Button1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Titel2</h2>
        <p>Text2</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Button2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Titel3</h2>
        <p>Text3</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Button3 &raquo;</a></p>
    </div>
</div>